<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/boleto"></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo Boleto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Fecha</ion-label>
      <ion-input type="text" formControlName="fecha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Estado</ion-label>
      <ion-input type="text" formControlName="estado"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Valor</ion-label>
      <ion-input type="text" formControlName="valor"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Seleccione un Vehiculo</ion-label>
      <ion-select formControlName="vehiculo" >
        <ion-select-option *ngFor="let item of items" >{{ item.payload.doc.data().vehiculo }}</ion-select-option>
      </ion-select>
    </ion-item>
    
      
    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Crear</ion-button>
  </form>
</ion-content>