<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pais"></ion-back-button>
    </ion-buttons>
    <ion-title>Pais</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit(pais)">
    <ion-item>
      <ion-label position="floating" color="primary">ID</ion-label>
      <ion-input  [(ngModel)]="pais.id" name="id" type="text" value="{{ (pais | async)?.id }}" disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Descripcion</ion-label>
      <ion-input [(ngModel)]="pais.descripcion" name="descripcion" type="text"
        value="{{ (pais | async)?.descripcion }}"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Guardar</ion-button>
  </form>
</ion-content>