<ion-header>
    <ion-toolbar color="primary">
      
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Boletos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="height: 100%;">

        <ion-card-content>
            <ion-row>
                <ion-col class="label">
                    Punto de partida:
                </ion-col>
                <ion-col [size]="12">

                    <ion-auto-complete [(model)]="desde" [multi]="false" [dataProvider]="provider" [disabled]="false"
                        [maxResults]="6" [removeButtonColor]="'dark'" (ionAutoInput)="on('ionAutoInput', $event)"
                        (itemsChange)="on('itemsChange', $event)" (itemsCleared)="on('itemsCleared', $event)"
                        (itemsHidden)="on('itemsHidden', $event)" (itemRemoved)="on('itemRemoved', $event)"
                        (itemSelected)="on('itemSelected', $event)" (itemsShown)="on('itemsShown', $event)"
                        #desdeSeacrhBar>
                    </ion-auto-complete>

                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="label">
                    Punto de llegada:
                </ion-col>
                <ion-col [size]="12">
                    <ion-auto-complete [(model)]="hasta" [multi]="false" [dataProvider]="provider" [disabled]="false"
                        [maxResults]="6" [removeButtonColor]="'dark'" (ionAutoInput)="on('ionAutoInput', $event)"
                        (itemsChange)="on('itemsChange', $event)" (itemsCleared)="on('itemsCleared', $event)"
                        (itemsHidden)="on('itemsHidden', $event)" (itemRemoved)="on('itemRemoved', $event)"
                        (itemSelected)="on('itemSelected', $event)" (itemsShown)="on('itemsShown', $event)"
                        #hastaSeacrhBar>
                    </ion-auto-complete>
                </ion-col>
            </ion-row>
        </ion-card-content>
        <ion-button [size]="'full'" (click)="buscarBoleto()">
            Buscar Boleto
        </ion-button>
 
<ion-item *ngIf="rutaCompleta.length > 0">

    <ion-input [(ngModel)]="rutaCompleta" value="{{rutaCompleta}}" disabled> Boleto: </ion-input>
    <ion-label slot="end">{{precio}}</ion-label>
    <ion-button (click)="comprar()" >Comprar</ion-button>

</ion-item>

    </ion-card>





</ion-content>