<!-- <ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/nuevo-boleto']">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
         <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons> 
        <ion-title>Boletos</ion-title>
    </ion-toolbar>
</ion-header> -->
<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Compra de Boletos</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item [routerLink]="['/pais']">
                Pais
                <ion-icon slot="start" name="contract"></ion-icon>
            </ion-item>
            <ion-item [routerLink]="['/provincia']">Provincia
                <ion-icon slot="start" name="locate"></ion-icon>
            </ion-item>
            <ion-item [routerLink]="['/ciudad']">Ciudad
                <ion-icon slot="start" name="outlet"></ion-icon>
            </ion-item>
            <ion-item [routerLink]="['/vehiculo']">Vehiculo
                <ion-icon slot="start" name="car"></ion-icon>
            </ion-item>
            <ion-item [routerLink]="['/ruta']">Rutas
                <ion-icon slot="start" name="map"></ion-icon>
            </ion-item>
            <!-- <ion-item [routerLink]="['/boleto']">Boleto
                <ion-icon slot="start" name="document"></ion-icon>
            </ion-item> -->
            <ion-item [routerLink]="['/forma-pago']">Forma de Pago
                <ion-icon slot="start" name="logo-usd"></ion-icon>
            </ion-item>
            <ion-item [routerLink]="['/factura']">Factura
                <ion-icon slot="start" name="document"></ion-icon>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="toggleMenu()">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
            <ion-button [routerLink]="['/perfil']">
                <ion-icon src="../assets/icon/person-circle-outline.svg" name="person-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Compra Boletos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="height: 100%;">

        <ion-card-content>
            <ion-row>
                <ion-col class="label">
                    Punto de partida:
                </ion-col>
                <ion-col [size]="12">

                    <ion-auto-complete [(model)]="desde" [multi]="false" [dataProvider]="provider" [disabled]="false"
                        [maxResults]="6" [removeButtonColor]="'dark'" (ionAutoInput)="on('ionAutoInput', $event)"
                        (itemsChange)="on('itemsChange', $event)" (itemsCleared)="on('itemsCleared', $event)"
                        (itemsHidden)="on('itemsHidden', $event)" (itemRemoved)="on('itemRemoved', $event)"
                        (itemSelected)="on('itemSelected', $event)" (itemsShown)="on('itemsShown', $event)"
                        #desdeSeacrhBar>
                    </ion-auto-complete>

                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="label">
                    Punto de llegada:
                </ion-col>
                <ion-col [size]="12">
                    <ion-auto-complete [(model)]="hasta" [multi]="false" [dataProvider]="provider" [disabled]="false"
                        [maxResults]="6" [removeButtonColor]="'dark'" (ionAutoInput)="on('ionAutoInput', $event)"
                        (itemsChange)="on('itemsChange', $event)" (itemsCleared)="on('itemsCleared', $event)"
                        (itemsHidden)="on('itemsHidden', $event)" (itemRemoved)="on('itemRemoved', $event)"
                        (itemSelected)="on('itemSelected', $event)" (itemsShown)="on('itemsShown', $event)"
                        #hastaSeacrhBar>
                    </ion-auto-complete>
                </ion-col>
            </ion-row>
        </ion-card-content>
        <ion-button [size]="'full'" (click)="buscarBoleto()">
            Buscar Boleto
        </ion-button>
 
<ion-item *ngIf="rutaCompleta.length > 0">

    <ion-input [(ngModel)]="rutaCompleta" value="{{rutaCompleta}}" disabled> Boleto: </ion-input>
    <ion-label slot="end">{{precio}}</ion-label>
    <ion-button (click)="comprar()" >Comprar</ion-button>

</ion-item>

    </ion-card>





</ion-content>