<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/nueva-provincia']">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Provincias</ion-title>
    </ion-toolbar>
  </ion-header>
  

      
    <ion-content *ngIf="provincias" class="list-mini-content" padding>
        
        <ion-list>
      

          <ion-item-sliding *ngFor="let provincia of provincias | async ">
              <ion-item>
                  <ion-label>
                      <h3>Provincia</h3>
                      <p>
                          {{provincia.descripcion}}
                      </p>
                  </ion-label>
              </ion-item>

              <ion-item-options side="start">
                  <ion-item-option color="secondary" (click)="actualizar(provincia.id)">
                      <ion-icon slot="icon-only" name="md-create"></ion-icon>
                  </ion-item-option>
              </ion-item-options>

              <ion-item-options side="end">
                  <ion-item-option color="danger" (click)="eiminar(provincia.id)">
                      <ion-icon slot="icon-only" name="trash"></ion-icon>
                  </ion-item-option>
              </ion-item-options>

          </ion-item-sliding>
        </ion-list>
     
    </ion-content>
  

  